@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&subset=latin-ext');

/*---------------------------------------
---------------GENERAL STYLE-------------
----------------------------------------*/

html {
    font-size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #262626;
    position: relative;
}

img {
    max-width: 100%;
}

.about-item-title,
.services-item-title,
.gallery-title,
.subscribe-title,
.blog-title,
.contact-title {
    font-size: 5.3rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

/*---------------------------------------
---------------HEADER STYLE--------------
---------------------------------------*/

header{
    transition: 0.5s linear;
}
.header-active{
    background: #fff;
}

.navbar {
    padding: 0;
}

.navbar .navbar-nav {
    background: #FBFBF7;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2.94rem;
}


.navbar-light .navbar-nav li > .nav-link.active,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #262626;
}

.navbar-light .navbar-nav li > .nav-link.active{
    font-weight: 700;
    background: #FF6033; 
}

.navbar-light .navbar-nav .nav-link {
    color: #262626;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*---------------------------------------
-----------Hamburger spin start----------
---------------------------------------*/
.hamburger {
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.8;
}

.hamburger.is-active:hover {
    opacity: 0.8;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #FF6033;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 33px;
    height: 3px;
    background-color: #262626;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

button:focus {
    outline: none;
    outline: none;
}

/*---------------------------------------
----------Hamburger spin end-------------
----------------------------------------*/

/*---------------------------------------
---------------MAIN STYLE----------------
----------------------------------------*/

.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.hero .display-4 {
    font-weight: 900;
}

.hero .btn-danger {
    color: #fff;
    background-color: #FF6033;
    border-color: #FF6033;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.hero .btn-danger:hover {
    background-color: #fff;
    color: #FF6033 !important;
}

.about figure img {
    display: block;
    max-width: 100%;
}

.services .services-items {
    background: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.services .services-items:last-of-type {
    margin-bottom: 0;
}

.services .services-items .services-items-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.services .services-items figure {
    margin-bottom: 0;
    border-left: 1px solid #9D9D9D;
    height: 4.8rem;
}

.services .services-items figure img {
    width: 45px;
    height: 45px;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.services .services-item-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.gallery figure {
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.gallery .btn-danger {
    background-color: #5585A2;
    border-color: #5585A2;
}

.gallery .btn-danger:hover {
    background-color: #fff;
    color: #5585A2 !important;
}

.subscribe {
    background-size: cover;
    background-position: right;
}

.subscribe .subscribe-title {
    font-size: 2.35rem;
}

.subscribe .subscribe-content {
    color: #96B92C;
}

.subscribe .form-group {
    margin-bottom: 1.5rem;
}

.subscribe .form-control::placeholder {
    color: #262626;
    font-size: 0.8rem;
    font-weight: 300;
}

.subscribe .form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #262626;
    background-color: #FBFBF7;
    background-clip: padding-box;
    border: 1px solid #262626;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.subscribe .form-control:focus {
    color: #262626;
    background-color: #FBFBF7;
    border-color: #96B92C;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(150, 185, 44, 0.7);
}

.subscribe .form-group .btn-danger {
    background: #96B92C;
    border-color: #96B92C;
}

.subscribe .btn-subscribe:hover {
    background-color: #fff;
    color: #96B92C !important;
}

.btn-subscribe:not(:disabled):not(.disabled):active, 
.btn-subscribe:not(:disabled):not(.disabled).active, 
.show > .btn-subscribe.dropdown-toggle {
    color: #fff;
    background-color: rgb(127, 163, 18);
    border-color: rgb(104, 129, 27);
}

.btn-subscribe:not(:disabled):not(.disabled):active:focus,
.btn-subscribe:not(:disabled):not(.disabled).active:focus,
.show > .btn-subscribe.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(104, 129, 27, 0.5);
}

.blog .blog-item figure {
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.blog .blog-item figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: -moz-linear-gradient(rgba(255,255, 255, 0.1), rgba(5, 5, 5, 0.8));
    background-image: -webkit-linear-gradient(rgba(255,255, 255, 0.1), rgba(5, 5, 5, 0.8));
    background-image: -ms-linear-gradient(rgba(255,255, 255, 0.1), rgba(5, 5, 5, 0.8));
    mix-blend-mode: normal;
    opacity: 0;
    transition: 0.6s ease;
}

.blog .blog-item-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    background: rgba(38, 38, 38, 0.6);
    border-radius: 5px;
    margin: 1.8rem;
}


.blog .blog-item-date-day,
.blog .blog-item-date-month {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
}

.blog .blog-item-date-day {
    font-size: 1.8rem;
}

.blog .blog-item-content {
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 10;
}

.blog .blog-item-content .blog-item-content-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.17rem;
    margin-bottom: 15px;
}

.blog .blog-item-content .blog-item-content-title a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease;
}

.blog .blog-item-content .blog-item-content-author {
    margin-bottom: 0;
}

.blog .btn-danger {
    color: #fff;
    background-color: #F72B3B;
    border-color: #F72B3B;
}

.blog .btn-danger {
    box-shadow: 0 0 0 0.1rem rgba(247, 43, 59, 0.5);
}

.blog .btn-danger:hover {
    background-color: #fff;
    color: #F72B3B !important;
}

.blog .btn-danger:not(:disabled):not(.disabled):active:focus,
.blog .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .blog .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(247, 43, 59, 0.5);
}

.contact {
    background-size: cover;
}

.contact .contact-description {
    width: 80%;
}

.contact .form-group {
    margin-bottom: 1rem;
}

.contact .form-control::placeholder {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
}

.contact .form-control {
    padding: 25px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    background-color: #00C4C4;
    border: none;
    border-left: 5px solid transparent;
    background-clip: border-box;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact .form-control:focus {
    color: #fff;
    background-color: #00C4C4;
    border-color: #355B82;
    outline: 0;
    box-shadow: none;
}

.contact .btn-danger {
    background-color: #00C4C4;
    border-color: #00C4C4;
}

.contact .btn-danger {
    box-shadow: 0 0 0 0.05rem rgba(1, 167, 167, 0.5);
}

.contact .btn-danger:hover {
    background-color: #fff;
    color: #00C4C4 !important;
}

.contact .btn-danger:not(:disabled):not(.disabled):active:focus,
.contact .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .contact .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.05rem rgba(1, 167, 167, 0.5);
}

.contact .contact-info .contact-info-title {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}

.contact .contact-info a {
    text-decoration: none;
    color: inherit;
}

.main-footer .main-footer-logo a {
    font-family: 'Pacifico', cursive;
    color: inherit;
    font-size: 2rem;
    text-decoration: none;
    transition: 0.3s ease;
}

.main-footer .main-footer-author span {
    color: #F72B3B;
}

